.a{
    background-color: aqua;
}
.b{
    width:40%;
    text-align: center;
    box-sizing: border-box;
    margin: -2px;
    display: inline-block;

}
.c{
    width:10%;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    margin: -2px;
}
body{
    margin: 0px;
    padding: 0px;
}